{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}

<div id='tweetme-2'></div>



<div class='row text-center d-none'>
    <div class='col'>
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class='row mb-3 d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>


    <div class='row d-none' id='tweets'>
        Loading...
    </div>
    <script>
        const tweetsContainerElement = document.getElementById("tweets")
        function loadTweets(tweetsElement) {
            const xhr = new XMLHttpRequest()
            const method = 'GET' // "POST"
            const url = "/tweets"
            const responseType = "json"
            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function() {
                const serverResponse = xhr.response
                const listedItems = serverResponse // array
                var finalTweetStr = ""
                var i;

                for (i=0;i<listedItems.lenqth; i++) {
                    console.log(listedItems[i])
                    var tweetObj = listedItems[i]

                    var currentItem = formatTweetElement(tweetObj)
                    finalTweetStr += currentItem

                }
                tweetsElement.innerHTML = finalTweetStr
            }
            xhr.send()
        }

        loadTweets(tweetsContainerElement)

        function RetweetBtn(tweet) {
        return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetActionBtn(" +
        tweet.id + "," + ",'retweet')>Retweet</button>"
    }


        function UnLikeBtn(tweet) {
            return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn(" +
            tweet.id + "," + ",'unlike')>Unlike</button>"
        }

        function LikeBtn(tweet) {
            return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" +
            tweet.id + "," + ",'like')>" + tweet.likes + " Likes</button>"
        }

        function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
        + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" +
                LikeBtn(tweet) +
                UnLikeBtn(tweet) +
                RetweetBtn(tweet) +
            "</div></div>"
        return formattedTweet
    }

    </script>
{% endblock content %}